*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Mukta', sans-serif;
    margin: 0px 5%;
}
:root{
    --black:black;
    --grey:rgb(195, 190, 190);
    --red:rgb(211, 88, 84);
    --yellow:rgb(163, 109, 46);
    --white:white;
}

button a{
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    display: inline-block;
    padding-right: 10px;
}
button{
    padding: 15px 30px;
    border-radius: 30px;
    border:none ;
    background-color: var(--red);
    color: var(--white);
}

/* header start */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.header ul li a{
    text-decoration: none;
    color: var(--black);
    font-size: 1rem;
    font-weight: 500;
}
.header ul li{
    list-style: none;
    display: inline;
    margin: 0 15px;
}
.cart{
    font-size: 1.7rem;
    margin-left: -10px;
    color: var(--red);
}

/* banner design start */

.banner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.cricle{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.content{
    width: 50%;
}
.content h1{
    font-size: 4rem;
    display: inline-block;
    margin: 0px;
    line-height: 70px;
    font-weight: 800;
    margin-bottom: 10px;
}
.content p{
    width: 90%;
    font-size: 1rem;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 20px;
}

/* Company logo section start */
