*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Mukta', sans-serif;
}
:root{
    --black:black;
    --grey:rgb(195, 190, 190);
    --red:rgb(211, 88, 84);
    --yellow:rgb(163, 109, 46);
    --white:white;
}

button a{
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    display: inline-block;
    padding-right: 10px;
}
button{
    padding: 15px 30px;
    border-radius: 30px;
    border:none ;
    background-color: var(--red);
    color: var(--white);
}
.main{
    margin: 0px 5%;
}

/* header start */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.header ul li a{
    text-decoration: none;
    color: var(--black);
    font-size: 1rem;
    font-weight: 500;
}
.header ul li{
    list-style: none;
    display: inline;
    margin: 0 15px;
}
.cart{
    font-size: 1.7rem;
    margin-left: -10px;
    color: var(--red);
}

/* banner design start */

.banner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.cricle{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.content{
    width: 50%;
}
.content h1{
    font-size: 4rem;
    display: inline-block;
    margin: 0px;
    line-height: 70px;
    font-weight: 800;
    margin-bottom: 10px;
}
.content p{
    width: 90%;
    font-size: 1rem;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 20px;
}

/* Company logo section start */

.logo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    height: 120px;
    margin: 100px 0px;
    border-image: linear-gradient( to right, rgb(238,237,237)0%, rgb(158,158,158)50%, rgb(238,237,237)100% )1;

}

/* popular collection section design start */

.poupular-collection{
    width: 100%;
    margin: 10px 0px;
}
.poupular-collection h3{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 50px;

}
.poupular-collection .see-more{
    text-align: right;
    padding: 10px 50px;
    font-size: 1.5rem;
    color: var(--red);
    cursor: pointer;

}
.collection{
    margin: 0 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.item{
    padding: 10px 10px 15px 10px;
    box-shadow: 0px 0px 17px rgb(224, 221, 221);
    border-radius: 7px;
    
}
.item img{
    width: 100%;
    max-height: 250px;
}
.item span{
    display: block;
    color: grey;
    margin-bottom: -5px;

}
.item h4{
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: -10px;   
}
.item h6{
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0px;
}
.item .fa-star{
    color: var(--red);
}
.rating{
    color: var(--grey);
    display: inline-block;
}

/* featured product design start */

.featured-product{
    display: flex;
    gap: 10%;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}
.f-content h1{
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 20px;
}
.f-content p{
    width: 85%;
    color: grey;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 23px;
}
.f-content button{
    border-radius: 0px;
}

/* footer section start */

.footer{
    width: 100%;
    background-color: rgb(4, 4, 58);
    color: rgb(227, 224, 224);
    text-align: center;
    padding: 50px 0px;
    display: block;
}
.footer h2{
    font-size: 1.5rem;
}
.footer p{
    font-size: .9rem;
}
.footer .social{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 8px 0px;
}
.footer .fa-brands{
    cursor: pointer;
}
.menu-bar{
    display: none;
}
#menu{
    display: none;
}

/* Responsive design for tab screen */

@media only screen and (max-width:900px){

    .banner {
        width: 100%;
        flex-direction: column-reverse;
        gap: 0px;
    }
    .cricle img{
        width: 100%;
    }
    .cricle{
        width: 100%;
        box-sizing: border-box;
    }
    .content{
        text-align: center;
        width: 100%;
    }
    .logo{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 10%;
        justify-content: center;
        border: none;
    }

    .collection{
        grid-template-columns: repeat(2, 1fr);
    }
    .featured-product{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .featured-product img{
        width: 90%;
    }
    .f-content{
        text-align: center;
    }
    .f-content p{
        width: 100%;
    }



    /* responsive navbar */
    .header{
        position: relative;

    }

    .header ul{
        width: 100%;
        position: absolute;
        top: -140%;
        left: 0;
        right: 0;
        text-align: center;
        transition: 1s;
    }
    .header ul li{
        display: block;
        margin: 5px 0;
    }
    .menu-bar{
        display: block;
    }
    #menu:checked ~ ul{
        top: 60%;
        transition: 1s;
    }




}

/* Responsive design for mobile screen */

@media only screen and (max-width:500px){

        .banner {
            width: 100%;
            flex-direction: column-reverse;
            gap: 0px;
        }
        .cricle img{
            width: 100%;
        }
        .cricle{
            width: 100%;
            box-sizing: border-box;
        }
        .content{
            text-align: center;
            width: 100%;
        }
        .logo{
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 2%;
            border: none;
        }
        .collection{
            grid-template-columns: repeat(1, 1fr);
        }
        .featured-product{
            flex-direction: column-reverse;
            gap: 20px;
        }
        .featured-product img{
            width: 90%;
        }
        .f-content{
            text-align: center;
        }
        .f-content p{
            width: 100%;
        }
        .header h2{
            text-align: left;
        }


}
